<!DOCTYPE html>
<html lang = "en">
<head>
</head>
<body>
  <h1>Add Hand</h1>
  <form action="/handHistory/addHand" method="post">


    <label for="dealerHand">Dealer Shows:</label>
    <select type = "option" id="dealerHand" name="dealerHand" required>
      <option value = "A"> A </option>
      <option value = "K"> K </option>
      <option value = "Q"> Q </option>
      <option value = "J"> T </option>
      <option value = "9"> 9 </option>
      <option value = "8"> 8 </option>
      <option value = "7"> 7 </option>
      <option value = "6"> 6 </option>
      <option value = "5"> 5 </option>
      <option value = "4"> 4 </option>
      <option value = "3"> 3 </option>
      <option value = "2"> 2 </option>
    </select>    <br><br>


    <label for="playerCardA">Player Card A:</label>
    <select type = "option" id="playerCardA" name="playerCardA" required>
      <option value = "A"> A </option>
      <option value = "K"> K </option>
      <option value = "Q"> Q </option>
      <option value = "J"> T </option>
      <option value = "9"> 9 </option>
      <option value = "8"> 8 </option>
      <option value = "7"> 7 </option>
      <option value = "6"> 6 </option>
      <option value = "5"> 5 </option>
      <option value = "4"> 4 </option>
      <option value = "3"> 3 </option>
      <option value = "2"> 2 </option>
    </select>
        <label for="playerCardB">Card B:</label>
    <select type = "option" id="playerCardB" name="playerCardB" required>
      <option value = "A"> A </option>
      <option value = "K"> K </option>
      <option value = "Q"> Q </option>
      <option value = "J"> T </option>
      <option value = "9"> 9 </option>
      <option value = "8"> 8 </option>
      <option value = "7"> 7 </option>
      <option value = "6"> 6 </option>
      <option value = "5"> 5 </option>
      <option value = "4"> 4 </option>
      <option value = "3"> 3 </option>
      <option value = "2"> 2 </option>
    </select>
    <br><br> 
    <button type="submit">Submit</button>
  </form>
</body>
</html>
