<!DOCTYPE html>
<head>
		<title></title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
			<h1><span>Blackjack</span> Basic Strategy Calculator</h1>
			<h3>Gambling the responsible way</h3>
	</header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/handHistory/addHand">Add Hands</a></li>
			<li>  <a href="/clearData">Clear Data</a></li> 
			<li>  <a href="/handHistory/test">Test Your Hands</a></li> 
			<li>  <a href="/handHistory/solutions">Solutions</a></li> 
		</ul>
	</nav>
	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>
