<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
			<h1><span>Blackjack</span> Basic Strategy Calc</h1>
			<h3>Gambling the responsible way</h3>
	</header>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/handHistory/addHand">Add Hands</a></li>
             <li>  <a href="/clearData">Clear Data</a></li> 

		</ul>
	</nav>
	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>
